# --- Bỏ qua các thư viện nặng ---
node_modules/
*/node_modules/

# --- Bỏ qua file môi trường chứa mật khẩu  ---
.env
*/.env

# --- Bỏ qua file build của React ---
build/
dist/

# --- Bỏ qua file log và hệ thống ---
*.log
.DS_Store
.vscode/