.seat {
  width: 50px;
  height: 50px;
  margin: 2px;
  font-size: 0.75rem;
  border-radius: 6px;
  padding: 2px;
  text-align: center;
}

.seat.normal {
  background-color: #d1d1d1;
}

.seat.vip {
  background-color: #facc15;
  color: black;
}

.seat.couple {
  background-color: #ec4899;
  color: white;
}

.seat.booked {
  background-color: #6b7280;
  color: #d1d5db;
  cursor: not-allowed;
}

.seat.selected {
  background-color: #dc2626 !important;
  color: white;
  box-shadow: 0 0 6px #dc2626;
}

.screen {
  background: linear-gradient(to right, #e2e8f0, #cbd5e1);
  padding: 8px;
  border-radius: 0 0 8px 8px;
  font-weight: bold;
  color: black;
}

.seat-row {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;
  flex-wrap: nowrap; /* luôn 1 hàng 15 ghế */
}

.seat-legend span.seat {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

/* Modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content-payment {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  max-width: 400px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
